@font-face {
font-family: 'SW FONT';
font-style: normal;
font-weight: normal;
src: local('SW FONT'), url('SFDistantGalaxy.ttf') format('truetype');
}

h1 {
  font-family: 'SW FONT';
  font-weight: 200;
  color: white;    
}
