#container {
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background-image: url('https://images3.alphacoders.com/669/669177.jpg');
	background-position: left 30%;
}

#infobox {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	border: 3px solid black;
	border-radius: 10px;
	width: 40em;
	height: auto;		
}

p {
	color: white;
}

a {
	color: white;
}

a:hover {
	color: #F8ED00;
}